* {
    box-sizing: border-box;
}

body {
    padding: 20px 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.products-container {
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
}