* {
    box-sizing: border-box;
}

body {
    padding: 20px 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

.products-container {
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
}

.admin-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px auto;
    grid-template-areas: 'header header' 'sidebar main';
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.sidebar__link {
    font-size: 15px;
    color: #676b84;
    padding: 15px 25px 15px 24px;
    background: #fff;
    display: flex;
    gap: 15px;
    align-items: center;
}

.sidebar__menu {
    padding-left: 0;
}

.fa-pencil {
    color: green;
}

.fa-trash {
    color: red;
}