.header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
}

.header__logo {
    height: 100%;
    padding: 10px;
    width: 70px;
}

.header__nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    width: 50%;

    .nav-link {
        cursor: pointer;
        padding: 10px 15px;
    }
}

.header__cart-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 45px;
    justify-content: center;
    position: relative;
    width: 45px;

    img {
        width: 24px;
        height: 24px;
    }

    span {
        bottom: 12px;
        font-size: 10px;
        font-weight: 700;
        position: absolute;
    }
}

.header__cart-dropdown {
    display: none;
    position: absolute;
    width: 240px;
    height: 340px;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 52px;
    z-index: 5;

    &.show {
        display: flex;
    }

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    button {
        margin-top: auto;
    }
}
